* {
    font-family: Roboto Condensed, sans-serif;
    margin: 0;
    line-height: 1.6;

}

.wLayOut {
    width: 1175px;
    margin: 0px auto;
}

#top {
    height: 35px;
    background-color: #669933;
}

.lMenu {
    float: left;
    padding: 0;
}

.rMenu {
    float: right;
    padding: 0;
}

.lMenu li, .rMenu li {
    display: inline-block;
    line-height: 35px;
}

.lMenu li a, .rMenu li a {
    text-decoration: none;
    color: #fff;
    font-size: .75em;
}

.rMenu li a {
    font-size: .75em;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}

#menu {
    height: 90px;
}

.menuBar {
    height: 90px;
    display: flex;
}

.logo {
    width: calc(100%/4);
    height: 90px;
}

.logo img {
    width: 220px;
    height: 90px;
}

.search {
    height: 90px;
    width: calc(100%/4);
}

.search input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #669933;
    margin-top: 30px;
}

.menuChild {
    width: calc(100%/2);
    height: 90px;
    text-align: right;
}

.menuChild li {
    display: inline-block;
    line-height: 90px;
}

.menuChild li a {
    font-size: 1em;
    text-decoration: none;
    color: #0a0a0a;
    padding-left: 25px;
}

#slider {
    width: 100%;
    height: 500px;
}

#slider img {
    width: 100%;
    height: 100%;
}


#subSlider {
    height: 190px;
    display: flex;
}

.childSubSlider {
    width: calc(100%/3);
    background-color: white;
    margin: 20px 10px;
    border-radius: 5px;
    border: 1px solid #669933;
    box-shadow: 2px 2px 10px #669933;
}

.childSubSlider img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.title {
    font-size: 150%;
    color: rgb(92, 34, 0);
    text-align: center;
    margin-top: 30px;
    
}

.sub-title {
    color: rgb(92, 34, 0);
    text-align: center;
    margin: 15px 0px;
}

.IFruistList {
    display: flex;
    height: 400px;
}

.iFruistItem {
    margin: 0px 10px;
    width: calc(100%/4);
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #669933;
    text-align: center;
    box-shadow: 2px 2px 10px #669933;
}

.iFruistItem img {
    width: 100%;
    height: 65%;
    border-radius: 20px;
}

.iFruistItem span {
    color: #F751A7;
}

.price {
    margin-top: 10px;
}

.price del {
    color: gray;
}

.price span {
    font-size: 20px;
    font-weight: normal;
    color: red;
}

.btn div{
    text-align: center;
    padding: 30px;
}

.moreBtn {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: gray;
    border-style: none;
    border: 1px solid #669933;
    width: 100px;
    height: 40px;
    margin: auto;
}

.buyBtn {
    margin-top: 10px;
    background-color: #669933;
    border-style: none;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

#banner img {
    width: 100%;
    height: 100%;
}


#news {
    background-color: #f3f3f3;
}

.news {
    display: flex;
    height: 850px;
}

.newsPaper {
    width: 70%;
}

.newsPaper .title {
    width: 100%;
}

.paper {
    display: flex;
    width: 100%;
    height: calc(90%/4);
    margin-top: 20px;
    border:  1px solid #669933;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #669933;
}

.paper .thumbnail{
    width: 30%;
    height: 100%;
}

.paper .thumbnail img {
    width: 100%;
    height:  100%;
}

.paper .content {
    width: 70%;
    height:  100%;
}

.paper .content h5,.paper .content h6,.paper .content p {
    margin: 10px 10px;
}


.banner {
    width: 30%;
    margin: 0px 20px;

}

.form {
    width: 100%;
    background-color: #fff;
    border: 2px solid #669933;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #669933;
    margin-top: 30px;
}

.form h3{
    text-align: center;
    font-size: 15px;
    margin: 10px 0px;
}

.form div {
    width: 100%;
    text-align: center;
}

.form div input{
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #669933;
}

.form div textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #669933;
}

.form button {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    background-color: #669933;
    color: #fff;
    border-style: none;
    margin-bottom: 10px;
}


#footer {
    background-color: rgba(0, 0, 0, 0.58);
}

#listFruist {
    background-color: #fffdf1;
}

#footer {
    background-image: url('/public/img/banner-main-002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    display: flex;
    padding: 30px 0px;
    color : #272727;

}

.colInfo {
    height: 100%;
    width: 25%;
    font-size: 16px;
    padding: 20px;
}

.colInfo img {
    width: 100%;
}

.colInfo h3 {
    font-size: 19px;
    margin-bottom: 15px;
}

.colInfo p,.colInfo ul li {
    font-size: 14px;
    margin-bottom: 15px;
}

