* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container  {
    width: 960px;
    margin: auto;
}

.header {
    background-color: #669933;
    height: 30px;
}

.menu-header {
    display: flex;
}

.lh {
    width: 50%;
    text-align: left;
}

.rh {
    width: 50%;
    text-align: right;
}

.lh ul, .rh ul {
    padding: 0;
}

.lh ul li , .rh ul li {
    display: inline-block;
    line-height: 30px;
    color: #fff;
}

.menu {
    height: 90px;
    display: flex;
}

.logo {
    width: 30%;
}

.logo img {
    width: 75%;
    height: 100%;
}

.search {
    width: 30%;
    display: flex;
}

.frm-search {
    width: 100%;
    height: 40px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.frm-search input{
    width: 80%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ccc;
}

.frm-search button {
    width: 20%;
    height: 100%;
    background-color: #669933;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}

.list {
    width: 40%;
    text-align: right;
}

.list.list-menu {
    width: 100%;
}

.list-menu ul {
    padding: 0;
}

.list-menu ul li {
    display: inline-block;
    line-height: 90px;
    padding-right: 10px;
}
/* Header */


.form-login {
    width: 360px;
    min-height: 500px;
    margin: auto;
    padding: 30px;
    border: 1px solid #669933;
    border-radius: 5px;
}

.form-login h3 {
    text-align: center;
    margin-bottom: 30px;
}

.form-login .input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.form-login input {
    width: 100%;
    height: 100%;
}

.form-login button {
    width: 100%;
    height: 40px;
    background-color: #669933;
    border-radius: 5px;
    color: #fff;
    border-style: none;
}

.form-login p {
    text-align: center;
}


/* Footer*/
.footer {
    background-color: rgba(55, 92, 17, 0.582);
}

.menu-footer {
    display: flex;
    padding: 20px;
    height: 100%;
}

.item-menu-footer {
    width: calc(100%/4);
    margin: 20px;
    color: #fff;
}

.item-menu-footer h3 {
    margin-bottom: 20px;
}

.item-menu-footer img {
    width: 100%;
    height: 95px;
    margin-bottom: 20px;
}

.item-menu-footer ul {
    padding: 0;
}

.item-menu-footer ul li {
    line-height: 25px;
}